/* General CSS reset and styling */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Nunito', sans-serif;
    background-color: #f9f9f9;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.nav-child {
    margin-left: 15px;
    color: black;
    font-size: 18px;
    position: relative;
    padding-bottom: 5px; /* Add padding for spacing */
}

.nav-child.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    left: 0;
    bottom: 0;
}

.content-container {
    display: flex;
    flex-direction: row;
    padding: 60px 0px 0px 40px;
    position: relative;
  }

.text-container {
    width: 50%;
    text-align: left;
    padding: 40px 40px 40px 60px;
  }

  .button-container {
    display: flex;
    gap: 10px;
    padding-left: 24px;
  }

#role {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    color: #25282B;
    line-height: 72px;
    padding-left: 24px;
  }

  p {
    font-size: 24px;
    font-weight: 400;
    color: #828282;
    line-height: 36px;
    padding: 24px;
  }

#resume-btn {
    background-color: #FFD700;
    border: none;  
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 8px;
    color: black;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.social-icons div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
}

.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 524px;
    height: 524px; */
    padding: 40px 40px 40px 60px;
}

.profile {
    width: 80%;
}

footer {
    text-align: center;
    background-color: #f9f9f9;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #666;
}
